html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

   

    @media only screen and (max-width: 105em) {
        font-size: 60%;
    }

    @media only screen and (max-width: 100em) {
        font-size:55%;
    }

    @media only screen and (max-width: 95em) {
        font-size: 50%;
    }
    @media only screen and (max-width: 85em) {
        font-size: 45%;
    }

    @media only screen and (max-width: 76em) {
        font-size: 60%;
    }
   
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}